

<form class="msg">
<div class="demo">
<video id="myvideo"></video>
</div>
<input type="text" name="input" placeholder="message"/>
<textarea name="textarea"></textarea>
</form>

<aside>Share chatroom link <a id="chat-room-link" target="_blank"></a></aside>

<div ng-app="Whiteboard" ng-controller="BaseCtrl">
    <h1>Whiteboard</h1><br><br>
    <h2>Have a question?  Input it below.</h2>
    <form>
    	<input type="text" name="text" id="question"><br>
    	<input type="submit" id="submit">
    </form>
    <h3>Questions asked:</h3>
    <ul>
        <li ng-repeat="question in questions">
            <span>{{question.text}}</span>
        </li>
    </ul>
</div>

<script class="pre">
	var session = Peer.initSession().addMedia('myvideo').connect(window.location.hash).on('media', function(e){
		document.querySelector('div.demo').appendChild(e.video);
	});
</script>

