<div ng-app="Whiteboard" ng-controller="BaseCtrl">
    <h1>Whiteboard</h1>
    <ul>
        <li ng-repeat="question in questions">
            <h2>{{question.name}}</h2>
            {{question.text}}
        </li>
    </ul>
</div>