<div ng-app="Whiteboard" ng-controller="BaseCtrl">

<div class="container">
    <div class="row">
           <div id= "header">
                <h1>Whiteboard</h1>
            </div>

        <div class="col-sm-8">

            <!-- VIDEO, WHITEBOARD, CHAT TABS -->

            <ul class="nav nav-tabs">
                <li class="active"><a href="#tab1" data-toggle="tab">Video </a></li>

                <li><a href="#tab2" data-toggle="tab">Whiteboard</a></li>

                <li><a href="#tab3" data-toggle="tab">Chat </a></li>

                <li><a href="#tab4" data-toggle="tab">Question </a></li>
            </ul>

            <div class="tab-content">
                <div class="tab-pane active" id="tab1">
                    <%- partial ('video.ejs') %>
                </div>

                <div class="tab-pane" id="tab2">
                    <%- partial ('whiteboard.ejs') %>
                </div>

                <div class="tab-pane" id="tab3">
                    <p> CHAT </p>
                </div>

                <div class="tab-pane" id="tab4">
                    <p> QUESTION </p>
                </div>
            </div>
        </div>

        <div class="col-sm-4">
            <table class="table table-hover">

                <thead>
                    <div class="col-sm-4">
                        <h3>Queue</h3>
                    </div>

                   <div class="col-sm-2">
                    </div>

                    <div class="col-sm-4">
                       <%- partial ('newquestion.ejs') %>
                    </div>

                </thead>

                <tbody>
                    <!-- List of questions -->
                    <tr ng-repeat="question in questions">
                        <td>
                        <p><strong> STUDENT (5:23 PM) </strong><p>
                        <p>
                        <span>{{question.text}}</span></p>
                        </td>
                    </tr>
                </tbody>
                
            </table>
        </div>
</div>

</div>