	<div ng-app="Whiteboard" ng-controller="BaseCtrl">

		<div class="container">
		    <div class="row">
		        <div id= "header">
		        <h1>Whiteboard</h1>
		        </div>
		    </div>
		    <div class = "loginBox">
		    	<h2>Log In</h2>
		    	<form id="nameForm">
			    	Username:<br>
					<input type="text" name="username" id="username_input">
					<br>
					Are you a TA?<br>
					<input type="checkbox" name="TA?" id="ta"><br>
					<input type="submit" id="usernameSubmit" class="btn btn-info btn-sml" value="Submit">
		    	</form>
		    </div>
		</div>
	</div>
</body>