<div class="pure-g">
	<! -- Follwed online tutorial at http://tutorialzine.com/2012/08/nodejs-drawing-game/ -->
	<div id="cursors">
	    	<!-- The mouse pointers will be created here -->
		</div>

		<canvas id="paper" width="750" height="600" >
			Your browser needs to support canvas for this to work!
		</canvas>
		<br>
		<button id="clear" class="btn btn-info btn-sml">Clear</button><br>

</div>